p::first-letter {
    font-size: 6rem;
    /* ilk karakteri seçer */
}

p::first-line {
    /* ilk satırı seçer */
    background-color: aqua;
}

p::selection {
    /* seçtiğimiz text alanına etki eder */
    background-color: blueviolet;
    color: white;
}


div.box {
    width: 100px;
    height: 100px;
    background: red;
}

.box::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: yellow;
}

.box::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: green;

}