.container div {
    display: none;
    color: purple;
    font-size: 100px;
}

@media (max-width : 480px) {
    div.mobil {
        display: block;
    }
}

@media (min-width:481px) and (max-width:768px) {
    div.tablet {
        display: block;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    div.laptop {
        display: block;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    div.laptop {
        display: block;
    }
}

@media (min-width:1201px) {
    div.laptop {
        display: block;
    }
}