.site-logo{
    height: 3rem;
    transition: .5s;
    &:hover{
        transform: scale(1.1);

    }
}
.header-title{
    font-size: 2rem;
    color: white;
    animation: soldanGelenYazi 1s;
}
.header-subtitle{
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    animation: sagdanGelenYazi 1s;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: $main-color;
    padding: .5rem;
    border-radius: 50px;
    border: none;
    &:hover{
        color: white;
        background-color: $main-color-light;
    }
    animation: ortayaCik 1s;

}

.icon-asagi{
    position: absolute;
    bottom: 10px;
    width: 2rem;
    left: 50%;
    animation: asagiOk 1s infinite;
}


.egitim-card{
    text-align: center;
    padding: 1rem;
    margin: 1rem .5rem;
    border: 1px solid $second-color;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    flex: 1;
    &:hover{
        transform: scale(1.05);
    }
    &--java{
        background-color: beige;
    }
    &--nodejs{
        background-color: white;
    }
    &--flutter{
        background-color: pink;
    }
}