@import '_reset.scss';
@import "variables";
@import "mixins";
@import "layouts";
@import "components";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.egitim-container{
    display: flex;
    flex-direction: column;
}

.egitim-card{
    text-align: center;
    padding: 1rem;
    margin: 1rem .5rem;
    border: 1px solid $second-color;
    border-radius: .5rem;
    &--java{
        background-color: beige;
    }
    &--nodejs{
        background-color: white;
    }
    &--flutter{
        background-color: pink;
    }
}